.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  flex: 30%;
}

.flex-item-right {
  flex: 30%;
}

.flex-item-right {
  flex: 30%;
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 275px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}

.card {
  display: grid;
  grid-template-columns: 300px;
  width: 300px;
  height: 500px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
}

.card-image {
  grid-area: image;
}
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats; 
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:12px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:20px;
}

.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #000000;
}

.card-stats .stat {
  display: flex;s
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  /*padding:10px;*/
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card {

...
  transition: 300ms ease;
  cursor: pointer;
  margin:30px;
}