{% extends "blog/master.html"%}
{% block content%}
{% load static %}


<div class="container">
	<div class="row" style="padding-bottom: 40px;">
		<div class=".col-12 .col-md-8" style="background-color: #000000;padding-top: 40px">
			<h2 style="color: white; text-align: center;">CONTACT US</h2>
			<br>
			<p style="color: white; text-align: center; padding: 1rem;">Better yet, see us in person!
We value our readers, so feel free to visit  us.
			</p>
			<div class="row justify-content-center">
            <div style="max-width: 50px" class="col">
              <a href
              ="https://twitter.com/Mr_Luevi" target="_blank">
                <img  src="{% static '/blog/logos/twitter.svg' %}">
              </a>
            </div>
            <div style="max-width: 50px" class="col">
              <a href="https://www.linkedin.com/in/lakshya-singh-bhaskar-069379191" target="_blank">
                <img style="max-width: 20px" src="{% static '/blog/logos/linkedin.svg' %}">
              </a>
            </div>
            <div style="max-width: 50px" class="col">
              <a href="https://wa.me/917339996552" target="_blank">
                <img  src="{% static '/blog/logos/whatsapp.svg'%}">
              </a>
            </div>
            <div style="max-width: 50px" class="col">
              <a href="https://www.instagram.com/p/CGM6LCfF5w5/?igshid=1lxvy5wbzf28m" target="_blank">
                <img style="max-width: 20px"  src="{% static '/blog/logos/instagram.svg'%}">
              </a>
            </div>
          </div>
			<hr style="color: white;"><br>
			<div style="padding-left: 1rem;">
				
			
			<p style="color: white;">
				Do  check out. 
			</p>
			<p style="color: white;">
				<a style="color: white;" href="https://wa.me/917339996552"  target="_blank">Message us on WhatsApp</a></p>
				<p  style="color: white;"> Blogging</p>
			<br>
			<p style="color: white;">
				<a style="color: white;" href="mailto: contact@legalogical.in?subject = Feedback"  target="_blank">contact@legalogical.in</a> </p>
				<p style="color: white;"> Bharatpur, Rajasthan, India
			</p>
			<br><hr style="color: white;" ><br>
			<p style="color: white;" >Thanks for visiting our website, we will get back to you soon...</p></div>
			
		</div>
		<div class=".col-12 .col-md-8 align-self-center">
			<div class="row justify-content-center">
				<div style="padding-left: 2rem;padding-top: 2rem;">
					<img style="max-width: 300px" src="{% static '/blog/logos/legalogicalwithname.svg' %}">
				</div> 
			</div>
		</div>
		
	</div>
	
</div>
{%endblock content%}	