<!doctype html>
{% load static %}

<html lang="en">
  <head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Project CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'blog/card.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'blog/card2.css' %}" >
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title> LegaLogical Blogs</title>
    
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/"><h1 id="Title"><img style="max-width: 50px; padding-right: 0.8rem;" src="{% static 'blog/logos/legalogical.svg'%}">LegaLogical</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/">Home</a>
              <a class="nav-item nav-link" href="/contact">Contact Us</a>
              <a class="nav-item nav-link" href="/all_posts">All Posts</a>
              <a class="nav-item nav-link" href="/resource">Resources</a>
              {% if request.path == '/' %}
              <a class="nav-item nav-link" href="#About_us">About Us</a>
              {%endif%}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="/profile">{{user.username}}</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="/login">Login</a>
                <a class="nav-item nav-link" href="/register">Register</a>
              {% endif %}  
            </div>
          </div>
        </div>
      </nav>
    </header>
   <main role="main" class="container">
      <div class="row justify-content-center">
        <div class="col">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{message.tags}}">
                {{ message }}                
              </div>
            {% endfor %}
          {% endif%}         
        </div>
       </div>
      </div>
      {% block content %}{% endblock %}
    </main>
    <!-- Footer -->
    <footer style="position: sticky;">
      <div id="Footer" class="w-100 p-3" style="background-color: #000000;">
        <div  class="container" style="align-items: center;">
          <div class="row justify-content-center">
            <div style="max-width: 50px" class="col">
              <a href
              ="https://twitter.com/Mr_Luevi" target="_blank">
                <img  src="{% static '/blog/logos/twitter.svg' %}">
              </a>
            </div>
            <div style="max-width: 50px" class="col">
              <a href="https://www.linkedin.com/in/lakshya-singh-bhaskar-069379191" target="_blank">
                <img style="max-width: 20px" src="{% static '/blog/logos/linkedin.svg' %}">
              </a>
            </div>
            <div style="max-width: 50px" class="col">
              <a href="https://wa.me/917339996552" target="_blank">
                <img  src="{% static '/blog/logos/whatsapp.svg'%}">
              </a>
            </div>
            <div style="max-width: 50px" class="col">
              <a href="https://www.instagram.com/p/CGM6LCfF5w5/?igshid=1lxvy5wbzf28m" target="_blank">
                <img style="max-width: 20px"  src="{% static '/blog/logos/instagram.svg'%}">
              </a>
            </div>
          </div>
          <div class="row justify-content-center">
            <div id="Copyright">
            © 2020 Copyright: <a href="https://www.legalogical.in"> legalogical.in</a>
          </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>
